<ng-container *ngIf="(data$ | async) as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    <DB-loading></DB-loading>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <nb-card>
      <nb-card-header class="d-flex flex-row justify-content-between">
        <div>Customers List</div>
        <div>Éléments par page :
          <nb-select size="small" placeholder="Élément par page" selected="{{elementPerPage}}"
                     (selectedChange)="onElementPerPageChange($event)">
            <nb-option value="10">10</nb-option>
            <nb-option value="20">20</nb-option>
            <nb-option value="50">50</nb-option>
            <nb-option value="100">100</nb-option>
          </nb-select>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
          <tr class="bg-primary fw-bold text-light border border-primary">
            <td (click)="sortBy('fullName')" class=" p-3 border border-end-white">
              <div class="d-flex justify-content-between">
                <div>
                  Full Name
                </div>
                <div [ngClass]="(sortValue=='fullName')? 'text-white':'d-none'">
                  <span *ngIf="sortDirection">
                    <nb-icon icon="caret-up-fill"></nb-icon>
                  </span>
                  <span *ngIf="!sortDirection">
                    <nb-icon icon="caret-down-fill"></nb-icon>
                  </span>
                </div>

              </div>
            </td>
            <td (click)="sortBy('birthday')" class=" p-3 border border-end-white">
              <div class="d-flex justify-content-between">
                <div>
                  Birthday
                </div>
                <div [ngClass]="(sortValue=='birthday')? 'text-white':'d-none'">
                  <span *ngIf="sortDirection">
                    <nb-icon icon="caret-up-fill"></nb-icon>
                  </span>
                  <span *ngIf="!sortDirection">
                    <nb-icon icon="caret-down-fill"></nb-icon>
                  </span>
                </div>

              </div>
            </td>
            <td (click)="sortBy('phoneNumber')" class=" p-3 border border-end-white">
              <div class="d-flex justify-content-between">
                <div>
                  Phone Number
                </div>
                <div [ngClass]="(sortValue=='phoneNumber')? 'text-white':'d-none'">
                  <span *ngIf="sortDirection">
                    <nb-icon icon="caret-up-fill"></nb-icon>
                  </span>
                  <span *ngIf="!sortDirection">
                    <nb-icon icon="caret-down-fill"></nb-icon>
                  </span>
                </div>

              </div>
            </td>
            <td (click)="sortBy('adress')" class=" p-3 border border-end-white">
              <div class="d-flex justify-content-between">
                <div>
                  Adress
                </div>
                <div [ngClass]="(sortValue=='adress')? 'text-white':'d-none'">
                  <span *ngIf="sortDirection">
                    <nb-icon icon="caret-up-fill"></nb-icon>
                  </span>
                  <span *ngIf="!sortDirection">
                    <nb-icon icon="caret-down-fill"></nb-icon>
                  </span>
                </div>

              </div>
            </td>
            <td (click)="sortBy('email')" class=" p-3 border border-end-white">
              <div class="d-flex justify-content-between">
                <div>
                  E-mail
                </div>
                <div [ngClass]="(sortValue=='email')? 'text-white':'d-none'">
                  <span *ngIf="sortDirection">
                    <nb-icon icon="caret-up-fill"></nb-icon>
                  </span>
                  <span *ngIf="!sortDirection">
                    <nb-icon icon="caret-down-fill"></nb-icon>
                  </span>
                </div>

              </div>
            </td>
            <td class=" p-3 border border-end-white">Actions</td>
          </tr>
          </thead>

          <tbody>

          <tr>
            <td>
              <form [formGroup]="searchFormGroup">
                <input
                  formControlName="fullName"
                  class="form-control"
                  placeholder="Full Name"
                  (keyup)="onSearch()"
                >
              </form>
            </td>
            <td>
              <form [formGroup]="searchFormGroup">
                <input
                  formControlName="birthday"
                  class="form-control"
                  placeholder="Birthday">
              </form>
            </td>
            <td>
              <form [formGroup]="searchFormGroup">
                <input
                  formControlName="phoneNumber"
                  class="form-control"
                  placeholder="Phone Number">
              </form>
            </td>
            <td>
              <form [formGroup]="searchFormGroup">
                <input
                  formControlName="adress"
                  class="form-control"
                  placeholder="Adress">
              </form>
            </td>
            <td>
              <form [formGroup]="searchFormGroup">
                <input
                  formControlName="email"
                  class="form-control"
                  placeholder="E-mail">
              </form>
            </td>
            <td (click)="toggleAddForm()"><span class="btn btn-primary text-white w-100"><nb-icon
              icon="plus-lg"></nb-icon></span>
            </td>
          </tr>

          <tr [ngClass]="{'d-none':addFormActive}">
            <td><input class="form-control" placeholder="Full Name"></td>
            <td><input class="form-control" placeholder="Birthday"></td>
            <td><input class="form-control" placeholder="Phone Number"></td>
            <td><input class="form-control" placeholder="Adress"></td>
            <td><input class="form-control" placeholder="E-mail"></td>
            <td>
              <div class="d-flex flex-row justify-content-around m-auto">
                <div id="validateIcon">
                  <nb-icon icon="check-lg"></nb-icon>
                </div>
                <div class="verticalLign"></div>
                <div id="cancelIcon">
                  <nb-icon (click)="toggleAddForm()" icon="x"></nb-icon>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let c of result?.data?.content" class="text-truncate">
            <td class="px-4">{{c.fullName}}</td>
            <td class="px-4">{{c.birthday |date:'dd/MM/yyyy'}}</td>
            <td class="px-4">{{c.phoneNumber}}</td>
            <td class="px-4">{{c.adress}}</td>
            <td class="px-4">{{c.email}}</td>
            <td>
              <div class="d-flex flex-row justify-content-around">
                <div class="editIcon">
                  <nb-icon icon="pencil"></nb-icon>
                </div>
                <div class="verticalLign"></div>
                <div class="deleteIcon">
                  <nb-icon icon="trash3"></nb-icon>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <button (click)="onPageNumberChange(0)"
                    [ngClass]="result?.data?.first ? 'text-gray disabled border-light' : 'text-primary'" class="btn">
              <nb-icon icon="chevron-double-left"></nb-icon>
            </button>
          </li>
          <li class="list-group-item">
            <button (click)="onPageNumberChange(pageNumber-1)"
                    [ngClass]="result?.data?.first ? 'text-gray disabled border-light' : 'text-primary'" class="btn">
              <nb-icon icon="chevron-left"></nb-icon>
            </button>
          </li>
          <li class="list-group-item text-truncate"
              *ngFor='let nbr of toTotalPages(result?.data!.totalPages <9 ? result?.data!.totalPages : 9) ;let i = index'>

            <span
              *ngIf="(result?.data!.number <= result?.data!.totalPages-9) || (result?.data!.totalPages <9);else printlastPages">
              <button (click)="onPageNumberChange(result?.data!.number < 5 ? i : result?.data!.number-4+i)"
                      [ngClass]="pageNumber==(result?.data!.number < 5 ? i : result?.data!.number-4 + i) ?'text-light bg-primary' : 'text-primary'"
                      class="btn ">
                {{(result?.data!.number < 5 ? 1 + i : result?.data!.number - 3 + i)}}
              </button>
            </span>
            <ng-template #printlastPages>
              <button (click)="onPageNumberChange(result?.data!.totalPages - 9 + i)"
                      [ngClass]="pageNumber==(result?.data!.totalPages - 9 + i) ?'text-light bg-primary' : 'text-primary'"
                      class="btn ">
                {{(result?.data!.totalPages - 8 + i)}}
              </button>
            </ng-template>

          </li>
          <li class="list-group-item">
            <button (click)="onPageNumberChange(pageNumber+1)"
                    [ngClass]="result?.data?.last ? 'text-gray disabled border-light' : 'text-primary'" class="btn">
              <nb-icon icon="chevron-right"></nb-icon>
            </button>
          </li>
          <li class="list-group-item">
            <button (click)="onPageNumberChange(result?.data!.totalPages -1 )"
                    [ngClass]="result?.data?.last ? 'text-gray disabled border-light' : 'text-primary'" class="btn">
              <nb-icon icon="chevron-double-right"></nb-icon>
            </button>
          </li>
        </ul>
      </nb-card-footer>
    </nb-card>
  </ng-container>
</ng-container>


