tbody tr td{
  border: 1px solid #EDF1F7;
}
tbody tr:hover{
  background:#EDF1F7;
  cursor: pointer;
}
thead tr td:hover{
  cursor: pointer;

}
tbody tr:nth-child(even){
  background: #F7F9FC;
}
nb-card-footer{
  ul{
    li{
      padding: 0;
      button{
        font-size:15px;
        nb-icon{
          font-size: 12px;
        }
      }
      button:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.editIcon, .deleteIcon, #validateIcon, #cancelIcon{
  font-size: 25px;
}
#validateIcon, #cancelIcon{
  margin-top: 5px;
}
#validateIcon:hover{
  color:#01D68F;
}
.editIcon:hover{
  color: #FFC107;
}
#cancelIcon:hover, .deleteIcon:hover{
  color: #FF3D71;
}
.verticalLign{
  content:"";
  width: 2px;
  height: auto;
  background: #F2F2F2;
  top:0;
  left: 0;
  position: relative;
}
