<nb-card style="width:700px;">
  <nb-card-header>
    <span *ngIf="!id">Add Customer</span>
    <span *ngIf="id && !viewMode"> Edit Customer</span>
    <span *ngIf="id && viewMode && !delete">Customer Details</span>
    <span *ngIf="id && viewMode && delete">Êtes-vous sûr de vouloir supprimer cet utilisateur ?</span>
  </nb-card-header>
  <nb-card-body class="container">

    <form [formGroup]="customerFormGroup" autocomplete="off" novalidate>
      <div class=" row my-4 d-flex flex-row justify-content-center ">
        <div class="col-3">
          <label for="fullName" class="fw-bold col-form-label col-form-label-sm">Full Name:<span
            class="text-danger"><sup>*</sup></span> </label>
        </div>
        <div class=" col-6">
          <input formControlName="fullName" type="text"
                 class="form-control form-control-sm" id="fullName"
                 [ngClass]="{'is-invalid':c['fullName'].touched && c['fullName'].errors}"
          >
          <div class="invalid-feedback d-block position-relative"
               *ngIf="c['fullName'].touched
                       && c['fullName'].errors
                       && c['fullName'].errors!['required']"
          >
            <small>Champs obligatoires non renseignés</small>
          </div>
        </div>
      </div>
      <div class=" row my-4 d-flex flex-row justify-content-center ">
        <div class="col-3">
          <label for="birthday" class="fw-bold col-form-label col-form-label-sm">Birthday:<span
            class="text-danger"><sup>*</sup></span></label>
        </div>
        <div class=" col-6">
          <input formControlName="birthday" class="form-control form-control-sm"
                 [ngClass]="{'is-invalid':c['birthday'].touched && c['birthday'].errors}" id="birthday"
                 nbInput [nbDatepicker]="dateTimePicker">
          <nb-datepicker format="dd/MM/yyyy" #dateTimePicker></nb-datepicker>
          <div class="invalid-feedback d-block position-relative"
               *ngIf="c['birthday'].touched
                       && c['birthday'].errors
                       && c['birthday'].errors!['required']"
          >
            <small>Champs obligatoires non renseignés</small>
          </div>
        </div>
      </div>
      <div class=" row my-4 d-flex flex-row justify-content-center ">
        <div class="col-3">
          <label for="phoneNumber" class="fw-bold col-form-label col-form-label-sm">Phone Number:<span
            class="text-danger"><sup>*</sup></span></label>
        </div>
        <div class=" col-6">
          <input formControlName="phoneNumber" type="text"
                 class="form-control form-control-sm" id="phoneNumber"
                 [ngClass]="{'is-invalid':c['phoneNumber'].touched && c['phoneNumber'].errors}"
          >
          <div class="invalid-feedback d-block position-relative"
               *ngIf="c['phoneNumber'].touched
                       && c['phoneNumber'].errors
                       && c['phoneNumber'].errors!['required']"
          >
            <small>Champs obligatoires non renseignés</small>
          </div>
        </div>
      </div>
      <div class=" row my-4 d-flex flex-row justify-content-center ">
        <div class="col-3">
          <label for="adress" class="fw-bold col-form-label col-form-label-sm">Adress:<span
            class="text-danger"><sup>*</sup></span></label>
        </div>
        <div class=" col-6">
          <input formControlName="adress" type="text"
                 class="form-control form-control-sm" id="adress"
                 [ngClass]="{'is-invalid':c['adress'].touched && c['adress'].errors}"
          >
          <div class="invalid-feedback d-block position-relative"
               *ngIf="c['adress'].touched
                       && c['adress'].errors
                       && c['adress'].errors!['required']"
          >
            <small>Champs obligatoires non renseignés</small>
          </div>
        </div>
      </div>
      <div class=" row my-4 d-flex flex-row justify-content-center ">
        <div class="col-3">
          <label for="email" class="fw-bold col-form-label col-form-label-sm">Email:<span
            class="text-danger"><sup>*</sup></span></label>
        </div>
        <div class=" col-6">
          <input formControlName="email" type="email"
                 class="form-control form-control-sm" id="email"
                 [ngClass]="{'is-invalid':c['email'].touched && c['email'].errors}"
          >
          <div class="invalid-feedback d-block position-relative"
               *ngIf="c['email'].touched
                       && c['email'].errors
                       && c['email'].errors!['required']"
          >
            <small>Champs obligatoires non renseignés</small>
          </div>
        </div>
      </div>

      <div *ngIf="!viewMode" class="row">
        <div class="col-11 mb-5 d-flex flex-row justify-content-end">
          <button type="push" class="btn btn-sm border border-danger text-danger">Quitter</button>
          <button (click)="onSubmit()" type="submit" class=" mx-4 btn px-4 btn-sm bg-primary text-white">
            Enregistrer
          </button>
        </div>
      </div>

      <div *ngIf="delete" class="row">
        <div class="col-11 mb-5 d-flex flex-row justify-content-end">
          <button type="push" class="btn btn-sm border border-danger text-danger">Quitter</button>
          <button (click)="onDelete()" type="submit" class=" mx-4 btn px-4 btn-sm bg-danger text-white">
            Confirmer
          </button>
        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>
